.footer-custom {
    background-color: #003A5D; /* Dark Blue */
    color: #ffffff;
    padding: 30px 0;
}
.footer-custom .footer-logo {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.footer-custom .footer-logo:hover {
    color: #f8c93e; /* Golden color on hover */
}
.footer-custom .footer-links a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
}
.footer-custom .footer-links a:hover {
    color: #f8c93e; /* Golden color on hover */
}
.footer-custom .footer-social a {
    color: #ffffff;
    margin-right: 15px;
    font-size: 20px;
}
.footer-custom .footer-social a:hover {
    color: #f8c93e;
}
.footer-custom .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}